<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/header.ejs") %>

    <div class="pokemon-show-container">
        <h2><%= pokemonShow.name %></h2>

        <!-- Edit button -->
        <a href="/pokemon/<%= id %>/edit"><button class="edit-button">Edit</button></a>

        <br>
        <!-- Delete button -->
        <form action="/pokemon/<%= id %>?_method=DELETE" method="POST">
            <button class="delete-button">Delete</button>
        </form>

        <div class="pokemon-show-img">
            <img src="<%= pokemonShow.img  %>" alt="pokemon image">
        </div>
        <h2>Type</h2>
        <h3>
            <ul>
            <!-- if there are more than 1 type -->
              <% if (Array.isArray(pokemonShow.type) && pokemonShow.type.length > 1) { %>
                <% console.log("here more") %>
                <% for( let i = 0; i < pokemonShow.type.length; i++) { %>
                    <li><%= pokemonShow.type[i] %></li>
                <% } %>
                <!-- when there is only 1 type -->
            <% } else { %>
                <% console.log("here one") %>
                <li><%= pokemonShow.type %></li>
            <% } %>
              
              
            </ul>
        </h3>

        <h2>Stats</h2>
        <h3>
            <ul>
                <% for( let stat in pokemonShow.stats) {%>
                <li><%= stat%>: <%= pokemonShow.stats[stat]%></li>
                <% } %>
            </ul>
        </h3>

    
    </div>      

</body>
</html>